a{
    color: var(--color);
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: var(--color-hover)
}



button{ 
    font-family: var(--font-family);
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
   
}

.btn{
    border-radius: 40px;
    text-decoration: uppercase;
    color: var(--color);
    border: 2px solid var(--color);
    padding: 10px 30px;
    text-transform: uppercase; 
    font-size: 20px;
    
}