@font-face {
    font-family: "Cal Sans";
    src: url("/fonts/CalSans-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("/fonts/DMSans-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("/fonts/DMSans-Italic.woff2") format("woff2");
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}


:root {
    --background-color: rgb(255, 255, 255);
    --color: rgb(0, 0, 0);
    --color-hover: rgb(18, 18, 18);
    --font-size: 19px;
    --h1-size: 120px;
    --h2-size: 85px;
    --h3-size: 63px;
    --h4-size: 40px;
    --monospace-size: 15px;
    --font-family: 'DM Sans';
    --line-width: 0.1px;
    --line-color: rgba(0, 0, 0, 0.4);
    --line-color-net: rgba(0, 0, 0, 0.1);
    --line-color-net-highlight: rgba(0, 0, 0, 0.6);
    --line-opacity: 0.4;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: rgb(0, 0, 0);
        --color: rgb(255, 255, 255);
        --color-hover: rgb(215, 215, 215);
        --line-color: rgba(255, 255, 255, 0.4);
        --line-color-net: rgba(255,255,255, 0.1);
        --line-color-net-highlight: rgba(255,255,255, 0.6);
    }
}

@media (max-width: 1800px) {
    :root {
        --font-size: 17px;
        --monospace-size: 13px;
        --h1-size: 90px;
        --h2-size: 70px;
        --h3-size: 50px;
        --h4-size: 30px;

    }
}

@media (max-width: 900px) {
    :root {
        --line-width: 1px;
        --line-opacity: 0.4;
        --font-size: 15px;
        --monospace-size: 11px;
        --h1-size: 65px;
        --h2-size: 50px;
        --h3-size: 40px;
        --h4-size: 0.2s;
    }
}

* {
    box-sizing: border-box;
    transition: transform 0.2s ease;
}
:root, html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: clip; /* besser als hidden wegen Sticky/Scroll-Snap */
}

html { 
  scroll-behavior: smooth;
  overscroll-behavior: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   scrollbar-width: none; /* Versteckt die Scrollbar in Firefox */
  -ms-overflow-style: none; /* Versteckt die Scrollbar in Internet Explorer 10+ */
  color-scheme: light dark;
    max-width: 100%;
}

body {  
    margin: 0 ;
    background-color: var(--background-color);
    color: var(--color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: 100;
    text-rendering: optimizeLegibility;
}
main, #app {
  min-height: 100%;
}

p {
    font-weight: 100;
    line-height: 1.6;
    margin: 0;
}