
.and{
    font-family: 'DM Sans';
    font-weight: bold;
}

section{
    padding-inline:calc((100dvw - 1800px) / 2 + 100px);
    position:relative;
}

.monospace{
  font-family: 'Courier New', monospace;
  font-size: var(--monospace-size);
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Cal Sans';
    margin: 0;
    font-weight: normal;
}

h1 {
    font-size: var(--h1-size);
}

h2{
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size); 
}


img{
    max-width: 100%;
    height: auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
}

.flex-right {
    justify-content: flex-end;
    justify-items: flex-end;
}

.flex-bottom {
    align-content: end;
}

.flex-top {
    align-content: start;
}

.flex-center {
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.flex-item{
    flex: 1;
}
.felx-item-2{
    flex: 2;
}
.flex-center{
    justify-content: center;
    align-items: center;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}



@media(max-width: 1000px){
   
    section{
        padding-inline: 20px;
    }
}
